<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

<div class="menu_section">
    <h3>Your achievements</h3>
    <ul class="nav side-menu">
    <li><a href="/"><i class="fa fa-home"></i> Your base </a>
    </li>
    <li><a href="/area"><i class="fa fa-clone"></i> Area control </a>
    </li>
    <li><a><i class="fa fa-bar-chart-o"></i> Expeditions history </a>
    </li>
    </ul>
</div>

<div class="menu_section">
    <h3>Challenges and Quests</h3>
    <ul class="nav side-menu">
    <li><a><i class="fa fa-bug"></i> Monster Hunting Challenges <span class="fa fa-alicorn"></span></a>
    </li>
    <li><a><i class="fa fa-list"></i> Expedition Quests </a>
    </li>
    <li><a><i class="fa fa-laptop"></i> Challenge your friends </a></li>
    </ul>
</div>

</div>