
<!DOCTYPE html>
<html>
<head>
    <% include ../parts/head %>
</head>
<body class="">
<div class="wrapper">
    <% include ../parts/header.ejs %>
  <div class="content-wrapper">
    <section class="content container-fluid">

        <div class="content" id="renderer">
           <p>here is something nice</p>
        </div>
    </section>
  </div>
</div>
</body>
</html>