<div class="right_col" role="main">
    <script src="/socket.io/socket.io.js"></script>
    <div class="page-title">
    <div class="title_left">
        <h3>Bug reporting and feedback</h3>
    </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <div id="info"></div>
            <form action="">
                <input type="text" id="m" autocomplete="off" /><button>Send</button>
            </form>
        </div>
    </div>
    <script>
    var user = "<%= user.name %>";
    $(function () {
        var socket = io();
        $('form').submit(function(){
        socket.emit('feedback', user + ": " + $('#m').val());
            $('#m').val('');
            $('#info').html('<div class="alert alert-success" role="alert">Thanks for your report!</div>');
            return false;
        });
    });
    </script>
</div>
</div>