<div class="right_col" role="main">
    <script src="/socket.io/socket.io.js"></script>
    <div class="page-title">
    <div class="title_left">
        <h3>Guild chat</h3>
    </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">            
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Oh no!</strong> Your area is under attack... fight back!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <ul id="chat-content"></ul>
            <form action="">
                <input id="m" autocomplete="off" /><button>Send</button>
            </form>
        </div>
    </div>
    <script>
    $(function () {
        var socket = io();
        $('form').submit(function(){
        socket.emit('chat_redcats', $('#m').val());
            $('#m').val('');
            return false;
        });
        socket.on('chat_redcats', function(msg){
            $('#chat-content').append($('<li>').text(msg)).addClass("alert alert-info");
        });
    });
    </script>
</div>
</div>