<div class="right_col" role="main">
        <div class="page-title">
        <div class="title_left">
            <h3>Quest: Squashor</h3>
        </div>
        </div>
    
        <div class="clearfix"></div>
    
        <h3>Congratulations!</h3>
        <p>Thanks to your sweet, you showed that Squashor alien how to play game of Squash!</p>
        <p>Reedem your prize: 30 points and save 2 kittens. Scan below code</p>
        <img src="/gfx/quest_squash.png" style="height:400px"/>
        </br>
        <div class="clearfix"></div>
        </div>
    </div>