<div class="right_col" role="main">
    <div class="page-title">
    <div class="title_left">
        <h3>What is going on?</h3>
    </div>
    </div>

    <div class="clearfix"></div>

    <p>Aliens attacked the Earth. You join one of the guilds to defend the world and to become The Best.</p>
    <p>You must go jogging, running or cycling (you transform into a spaceship while exercising!) to gather artefacts in your area that are necessary to improve your base and power. 
        Also you can save poor kittens/puppies that otherwise might end up as a snack for those evil aliens... </p>
    <p>To be sure you are top badass you can weaken other guilds by trespassing areas under their control and even conquer them for glory of your own guild.</p>
    <p>Sometimes there are other quests you can take - fight big alien bosses, retrive valuable packages and so on.</p>
    <p>Don't waste time anymore and start your quest!</p>
    </br>
    </div>
</div>